<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Pacientes</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Telefone</th>
			</tr>
		</thead>
		<tbody >
		      <tr th:each="m: ${pacientes}">  
		        <td th:text="${m.nome}"></td>
		        <td th:text="${m.email}"></td>
		        <td th:text="${m.telefone}"></td>
		      </tr>
		</tbody>
	</table>
	<a th:href="@{/pacientes/novo}" type="button" class="btn btn-outline btn-primary">Novo Paciente</a>
			
</body>
</html>
			